{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3 col-lg-2" style="position: relative;">
        <img src={{ .Params.icon }} alt="Square" class="border-0 rounded-circle icon-image" >
      </div>
      <div class="col-9 col-lg-5 text-center">
        <h1>{{ .Params.Title }}</h1>
      </div>
      <div class="col-3 col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 col-lg-2"></div>
      <div class="col-lg-9 col-xl-8 text-center mb-3">
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
      </div>
      <div class="col-3 col-lg-2"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 text-center">
        <button type="button" class="btn">
          <a class="btn btn-primary btn-md px-4" href="{{ .Params.install_url | relURL }}" target="_blank" role="button">Install</a>
        </button>
      </div>
      <div class="col-md-9 text-center">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src={{ .Params.app_image }} alt="Square" class="img-fluid img-thumbnail rounded mx-auto d-block app-image">
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="max-width: 800px;">
            <div class="modal-content">
              <div class="modal-header">
                {{ .Params.Title }}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src={{ .Params.app_image }} alt="Square" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    {{ range $index, $e := .Params.rows }}
    {{ if gt $index 0 }}
    <hr>
    {{ end }}
    
    <div class="row justify-content-center text-center">
      <div class="col-md-3">
        <p>{{ $e.column1 | safeHTML }}</p>
      </div>
      <div class="col-md-3">
        <p>{{ $e.column2 | safeHTML }}</p>
      </div>
      <div class="col-md-3">
        <p>{{ $e.column3 | safeHTML }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-md-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
